@tailwind base;
@tailwind components;
@tailwind utilities;
 
::-webkit-scrollbar {
  display: none;
}

.button-one {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

.button-outline {
  animation: Gradient 10s ease infinite;
  position: relative;
  &::after {
    content:'';
    position: absolute;
    border-radius: 28px;
    z-index: 0;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }
}

.btn {
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
  background-size: 400% 400%;
  color: #FFF;
  border: 0;
  animation: Gradient 10s ease infinite;
  &:hover {
    background-size: 150% 150%;
  }
}



.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.textarea-container {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; 
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --gradient: #24C6DC;

    --background: 199 47.449999999999996% 4%;
    --foreground: 199 7.3% 97.5%;

    --muted: 199 36.5% 15%;
    --muted-foreground: 199 7.3% 55%;

    --popover: 199 50.4% 6.5%;
    --popover-foreground: 199 7.3% 97.5%;

    --card: 199 50.4% 6.5%;
    --card-foreground: 199 7.3% 97.5%;

    --border: 199 36.5% 15%;
    --input: 199 36.5% 15%;

    --primary: 199 73% 50%;
    --primary-foreground: 199 7.3% 5%;

    --secondary: 199 36.5% 15%;
    --secondary-foreground: 199 7.3% 97.5%;

    --accent: 199 36.5% 15%;
    --accent-foreground: 199 7.3% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 199 7.3% 97.5%;

    --ring: 199 73% 50%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}